@import "/src/css/animsition.min.css";
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;


    --fw-reg: 300;
    --fw-bold: 900;

    --clr-primary: slateblue;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #557aa7;
    --clr-grey: #e6e6e6;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body{
    overflow-x: hidden;
}

#app {
    font-family: "Work Sans", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

.row {
    margin: 0!important;
}

.bg-light {
    background-color: #f8f9fa!important;
}